.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--base-red);
  border-radius: 10px;
  height: auto;
}

.titleBlock {
  margin: 50px 0;
  font-size: 48px;
  text-align: center;
  font-family: "Lobster", sans-serif;
  color: var(--base-red);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 10px 5px;
  margin-bottom: 20px;
}

.imageRecipe {
  height: 500px;
  object-fit: cover;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.info {
  padding: 10px;
  text-align: left;
  height: fit-content;
}

.additional_info {
  position: relative;
  font-size: 14px;
  margin: 5px 0;
  color: #767676;
  text-align: left;
}

.description {
  position: relative;
  font-size: 14px;
  text-align: left;
  margin: 20px 0;
  color: black;
}

.title {
  margin: 5px 0;
  color: var(--base-red);
  font-weight: 500;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .imageRecipe {
    height: 400px;
  }

  .title {
    font-size: 20px;
    height: auto;
  }

  .additional_info,
  .description {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .imageRecipe {
    height: 300px;
  }

  .title {
    font-size: 18px;
  }

  .additional_info,
  .description {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .imageRecipe {
    height: 250px;
  }

  .title {
    font-size: 16px;
  }

  .additional_info,
  .description {
    font-size: 10px;
  }
}
